@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Bold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('Gotham-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Mono';
  src: url('ubuntu-mono-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('ubuntu-mono-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

td {
   width: 8%;
 }

button {
  width: 100%;
  height: 60px;
  font-size: 2em;
  font-family: 'Gotham';
  border: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

table {
  width: 60%;
  margin: auto;
}

input {
  width: 98%;
  margin: auto;
  height: 60px;
  font-size: 3em;
  font-family: 'Mono';
  text-align: right;
}

.white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.white:hover {
  background-color: #E8E8E8;
}

.white:active {
  background-color: #DEDEDE;
}

.green {
  background-color: #83DFB4;
  color: black;
}

.green:hover {
  background-color: #7CD2AA;
}

.green:active {
  background-color: #69C49A;
}

.memoryHeld {
  background-color: #4CA77D;
}

.purple {
  background-color: #B7A5EB;
  color: white;
}

.purple:hover {
  background-color: #A998DA;
}

.purple:active {
  background-color: #9C89D1;
}

.red {
  background-color: #DF8383;
}

.red:hover {
  background-color: #CF7979;
}

.red:active {
  background-color: #C86D6D;
  color: black;
}

.orange {
  background-color: #FFAD86;
}

.orange:hover {
  background-color: #E8A07E;
}

.orange:active {
  background-color: #D89778;
  color: black;
}

.blue {
  background-color: #83B4DF;
}

.blue:hover {
  background-color: #7AA6CE;
}

.blue:active {
  background-color: #6F99BF;
  color: black;
}

.gray {
  background-color: #585858;
  color: white;
}

.gray:hover {
  background-color: #4E4E4E;
}

.gray:active {
  background-color: #3E3E3E;
}

div {
  width: 100%;
  text-align: right;
  font-family: Mono;
  font-size: 3em;
}
